* {
    box-sizing: border-box;
}

/* Giving body additional height just to test static navbar */
body {
    min-height: 200vh;
}

/* class for static navbar at top of page */
.navbar {
    position:fixed;
    padding: 35px;
    top:0;
    right: 0;
    width:100%;
    margin: 0 auto;
    background-color: olivedrab;
    text-align: right;
}

/* class for name tag in header */
.name {
    position: absolute;
    left: 50px;
    top: 0;
    background-color: blue;
    padding: 35px;
}

/* container class containg info and pic */
.container {
    padding: 20px;
    padding-bottom: 50px;
}

/* static footer class */
.footer {
    position: fixed;
    padding: 25px;
    border-top: 5px solid black;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
  }